.title{
   display: flex;
}

.title h1{
    margin: 10px 0 10px 7.5rem;
}

/* tamano ipad mini */

@media only screen and (min-width:760px){  

    .title h1{
        font-size: 3rem;
        margin: 10px 0 10px 11.5rem;
    }

}

/* tamano ipad air */

@media only screen and (min-width:820px){ 

    .title h1{
        font-size: 3rem;
        margin: 10px 0 10px 13.5rem;
    }

}

/* Tamano Hub */

@media only screen and (min-width:1024px){ 

    .title h1{
        margin: 10px 0 10px 22rem;
    }

}


/* Tamano hub Max */

@media only screen and (min-width:1280px){ 

    .title h1{
        margin: 10px 0 10px 28rem;
    }

}

/* Tamano mas grande */

@media only screen and (min-width:1534px){ 

    .title h1{
        margin: 10px 0 10px 37rem;
    }

}